<div class=" w-[400px] mx-auto">
    <p>Complementaries</p>
    <!--FOR GOES HERE!-->
    <div class="ms-5 mt-5">
        @for(questionC of questionsComplementary; track $index){
            <span class="me-5">{{ questionC }}</span>
            <div class="mt-2.5">
                <ul class="flex space-x-4 justify-center pb-2 text-white">
                    <li class="w-[30px] h-[30px] rounded-full bg-[#f00000] flex justify-center content-center text-center">1</li>
                    <li class="w-[30px] h-[30px] rounded-full bg-[#ff2b2b] flex justify-center content-center text-center">2</li>
                    <li class="w-[30px] h-[30px] rounded-full bg-[#f4fc03] flex justify-center content-center text-center">3</li>
                    <li class="w-[30px] h-[30px] rounded-full bg-[#04bf07] flex justify-center content-center text-center">4</li>
                    <li class="w-[30px] h-[30px] rounded-full bg-[#148f16] flex justify-center content-center text-center">5</li>
                </ul>
            </div>
        }
    </div>
</div>