<div class=" w-[400px] mx-auto">
    <p>Complementaries</p>
    <!--FOR GOES HERE!-->
    <div class="ms-5 mt-5">
        @for(questionC of questionsComplementary; track $index){
            <span class="me-5">{{ questionC }}</span>
            <div class="mt-2.5">
                <ul class="flex space-x-4 justify-center pb-2 text-white">
                    <li class="w-[30px] h-[30px] rounded-full bg-[#f00000] hover:bg-[#c90000] flex justify-center items-center text-center cursor-pointer" (click)="getScore(1)">1</li>
                    <li class="w-[30px] h-[30px] rounded-full bg-[#ff2b2b] hover:bg-[#d42323] flex justify-center items-center text-center cursor-pointer" (click)="getScore(2)">2</li>
                    <li class="w-[30px] h-[30px] rounded-full bg-[#f4fc03] hover:bg-[#d6e003] flex justify-center items-center text-center cursor-pointer" (click)="getScore(3)">3</li>
                    <li class="w-[30px] h-[30px] rounded-full bg-[#04bf07] hover:bg-[#039604] flex justify-center items-center text-center cursor-pointer" (click)="getScore(4)">4</li>
                    <li class="w-[30px] h-[30px] rounded-full bg-[#148f16] hover:bg-[#0f6f11] flex justify-center items-center text-center cursor-pointer" (click)="getScore(5)">5</li>
                </ul>
            </div>
        }
    </div>
</div>